[defaults]
inventory = ./inventory/ec2.py
gathering = smart
host_key_checking = False
log_path = ~/.ansible/tmp/ansible.log
hash_behaviour = merge
display_skipped_hosts = True
deprecation_warnings = True
cow_selection = random
retry_files_enabled = False
timeout = 30
callback_whitelist = profile_tasks

[privilege_escalation]
#become=True
#become_method=sudo
#become_user=root
#become_ask_pass=False

[paramiko_connection]

# uncomment this line to cause the paramiko connection plugin to not record new host
# keys encountered.  Increases performance on new host additions.  Setting works independently of the
# host key checking setting above.
record_host_keys=False

# by default, Ansible requests a pseudo-terminal for commands executed under sudo. Uncomment this
# line to disable this behaviour.
#pty=False

[ssh_connection]
control_path = ~/.ansible/tmp/ansi-%%h-%%p-%%r

[accelerate]
accelerate_port = 5099
accelerate_timeout = 30
accelerate_connect_timeout = 5.0
# The daemon timeout is measured in minutes. This time is measured
# from the last activity to the accelerate daemon.
accelerate_daemon_timeout = 30

[selinux]
# file systems that require special treatment when dealing with security context
# the default behaviour that copies the existing context or uses the user default
# needs to be changed to use the file system dependent context.
#special_context_filesystems=nfs,vboxsf,fuse,ramfs
